body {
    min-height:100%;
    font-family: Source "Source Code Pro";
    background-image: url("/home/marc/Projects/hrext04-my-cruddy-app/assets/mvc2wall.jpg");
}

h1 {
    text-transform: uppercase;
    background: #86e7b4;
    color: black
    margin: 0;
    padding:10px 28px;
    font-weight: normal;
}

input {
    background: #86e7b4;
    width: 100%;
    box-sizing: border-box;
    height:50px ;
    font-size: 20px;
    font-weight: normal;
    padding-left:25px;
    border: 3px solid gray;
    color: gray;
}

input:focus {
    background: #edf1f5;
    border: 3px solid #86e7b4;
    outline:none;
    color: black;
}

span {
    margin-right: 10px;
    text-align:center;
    height:50px;
    width: 0;
    opacity: 0;
    -webkit-transition:0.3s;
    transition: 0.3s linear;
}

i {
    cursor: pointer;
}

button {
    background-color: #86e7b4;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:4px;
    font-family: "Source Code Pro";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;

}

button:hover {
    background-color: transparent;
    color: black;
    border: 2px solid #86e7b4;
}

#buttons {
    display:inline-block;
    text-align:center;
    margin-left:22%;
    position:absolute;
    bottom:5px;
}
#item {
    margin: 0 auto ;
    box-shadow: 0 0 1em black;
    max-width: 400px;
    height:100%;
    background: #86e7b4;
    position:relative;
}
#overlay {
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.7); 
    overflow-x: hidden; 
    transition: 0.5s; 
    -webkit-transition:  0.5s;
}

#overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color: #86e7b4;
    cursor: pointer;
}
#overlay li {
    padding: 8px;
    list-style-type:circle;
    font-size: 30px;
    color: #818181;
    display: block;
}

.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items li {
    background: #f7f7f7;
    height:50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.items li:nth-child(2n) {
    background:#edf1f5;
}

.items li:hover span {
    width: 50px;
    opacity: 1.0;
    margin-left: 5px;
}

.display {
    display:none;
    transition: 0.3s linear;
}

.checked {
    color:gray;
    text-decoration:line-through;
}

.fa-atom {
    float: right;
    padding-top: 8px;
}

.fa-trash-alt {
    color:#7f7fd5;
}

.fight {
    position: relative;
    top: 20%;
    width: 100%; 
    text-align: center; 
    margin-top: 25px;
}

